/sample-project
.DS_Store
/upload-service/node_modules
/upload-service/dist
/upload-service/dist-ssr
/upload-service/src/gitBare
/upload-service/*.local
/build-service/node_modules
/build-service/dist
/build-service/*.local
/Frontend/node_modules
/Frontend/dist
/Frontend/*.local